.container {
    grid-template-rows:    repeat(3, 33vh);
    grid-template-columns: repeat(3, 1fr);
    display: grid;
}

.inner {
    justify-items: center;
    align-items:   center;
    display: grid;

}

.inner2 {
    justify-self: center;
    align-self:   center;
}

iframe {
    width: 25vw;
    height: 25vh;
}